
*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
body{
    background-color: #fafafa;

    
    background-image: url(./images/asdfg.jpg);
    background-repeat: no-repeat;

    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.card{
    background-color: white;
    box-shadow: 5px 5px 8px #888888;
}
.navicons{
    color: black;
}

.navbar{
    border-bottom: 1px solid grey;
    
}

#logo2{
    width: 200px;
    height: 100px;}

.search-bar{
    width: 100%;
    border: 1px solid grey;
    background-color: rgb(241, 241, 241);
}

#profilepic{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@media(max-width:580px){
    .search-bar{
        visibility: hidden;
    }

}

.nav-right-items{
    text-align: center;

}

#prof{
    width: 400px;
    height: 400px;
    border: crimson 7px solid;
    border-radius: 50%;
  
   padding: 5px;
    margin:50px;
    display: flex;
    
    
    margin: auto;
    margin-top: 50px;
    
}
.name{
    font-size: 70px;
    text-align: center;
    margin: 20px;
   
}


.images{
    width: 100%;
   
}
img{
    height: 250px;
    margin: 10px;
    align-content: center;
}
hr{
    color: grey;
    height: 2px;
}
.col{
    align-self: center;
}


#yup{
    height: 2px;
    color: grey;
    width: 100%;
}

.profilebtn{
    font-size: 20px;
    text-align: center;
    margin: 20px;
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: rgb(0, 153, 255);
    border-radius: 15px;
    align-content: center;


}